<br>

<div class="container-fluid">

  <div class="row">
    <div class="ui-g-4">
    </div>
    <div class="ui-g-4">
      <img src="../assets/logo/IngeniousLabs.jpeg" class="img-fluid">
    </div>
  </div>

  <div class="row">
    <div class="ui-g-3">
      <p-spinner size="30" [(ngModel)]="val" [min]="1000" [max]="6000" [step]="500" (onChange)="mostrar($event)"></p-spinner>
    </div>
  </div>


  <div class="row">
      <div class="ui-g-2">
        <h3>Instrumentos</h3>
      </div>
      <div class="ui-g-12">
        <p-checkbox 
          name="group1" 
          value="1" 
          label="NavegacionInercial" 
          binary="true"
          (click)="mostrarNavInercial($event)"
          [(ngModel)]="selectedNavInercial">
        </p-checkbox>
      </div>
      <div class="ui-g-12">
        <p-checkbox 
          name="group1" 
          value="3" 
          label="GPS"
          binary="true"
          (click)="mostrarGPS($event)"
          [(ngModel)]="selectedGPS">
        </p-checkbox>
      </div>
      <div class="ui-g-12">
        <p-checkbox 
          name="group1" 
          value="2" 
          label="RadioAltimetro" 
          binary="true"
          (click)="mostrarNavInercial($event)"
          [(ngModel)]="selectedRadioAltimetro">
        </p-checkbox>
      </div>
  </div>

  <div class="row">
        <div class="col-sm-4" [hidden]="!selectedNavInercial">
          <p-chart type="radar" [data]="dataNavInercial"></p-chart>
        </div>
        <div class="col-sm-4" [hidden]="!selectedGPS">
          <p-chart type="polarArea" [data]="dataNavGPS"></p-chart>
        </div>
        <div class="col-sm-4" [hidden]="!selectedRadioAltimetro">
          <p-chart type="line" [data]="dataNavRadio"></p-chart>
        </div>
  </div>
</div>



